# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Matlab temporary files
*.m~

# Temporary triangle files
*.ele~
*.poly~
*.node~
*.1.ele
*.1.node
*.1.poly
*.1.edge

# Python
*.py~
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log
